.navbar {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  font-size: 28px;
  margin-bottom: 40px;

}

.top {
  background-image: url('../IMG/coffee_beans.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  width: 100%;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  margin-top: 5%;
}
.top-Homepage {
  background-image: url('../IMG/coffee_beans1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  width: 100%;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  margin-top: 5%;
}
.areas_touched{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.farming{
  grid-column: 1/2;

}
.feeding_children{
  grid-column: 2/3;
}
.art{
  grid-column: 3/4;
}

a {
  text-decoration: none;
  margin-right: 25px;
  color: #FF0000;
}

img {
  max-height: 45%;
  max-width: 45%;
}

.contacts {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.Get-in-touch {
  grid-column: 1/2;
}

.Drop-us-a-line {
  grid-column: 2/3;
}

body {
  text-align: center;
}

button {
  background-color: #FF0000;
  color: #FFFFFF;
  width: 180px;
  height: 45px;
  border-radius: 5px;
  font-size: 15px;
}

textarea {
  width: 60%;
  height: 55px;
  border-radius: 5px;
}

input {
  width: 60%;
  height: 45px;
  border-radius: 5px;
}

.background-style {
  background-color: #C6C6C6;
  border-radius: 5px;
  height: 80%;
  width: 80%;
}

header {
  margin-top: 5%;
}